<app-network></app-network>
<h1>Draggable</h1>

<h2>Part 1 - draggable directive</h2>

<div class="box" appDraggable
     (dragStart)="onDragStart()" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd()">
  My box
</div>

<div class="box" appDraggableRx
     (dragStart)="onDragStart()" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd()">
  My box
</div>
