<div class="mdf {{mdf.type}}">

  <span class="title">
    <span st>MDF</span><br>
    <span>Type: {{mdf.type}}</span><br>
  <span *ngIf='destination'>
  Destination:{{mdf.destination}}</span>
  </span>

  <div class="ports">
    <div *ngFor="let port of ports">
      <app-port port="{{port}}"></app-port>
    </div>
  </div>

</div>
