.mdf {
  display: block;
  background-color: #3498db;
  width: 30%;
  height: 0;
  padding-bottom: 25%;
  border: 2px solid transparent;
  color: #fff;
  position: relative;
  margin: 10px;

}

.mdf.vertical {
  float: right;
  margin-left: 30%;
}

.mdf.horizontal {
  float: left;
  margin-right: 30%;
}

.mdf.horizontal .title {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mdf.horizontal .ports {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.mdf.vertical .title {
  float: right;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}
