/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
.draggable {
  cursor: move;
  user-select: none;
}

/*# sourceMappingURL=styles.css.map */
